@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../star_wars/distgrg_-webfont.eot');
    src: url('../star_wars/distgrg_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../star_wars/distgrg_-webfont.woff2') format('woff2'),
         url('../star_wars/distgrg_-webfont.woff') format('woff'),
         url('../star_wars/distgrg_-webfont.ttf') format('truetype'),
         url('../star_wars/distgrg_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

 .table {
  display: table;
  width:auto;         
  background-color: #E2C58B; 
  margin-top: 15px;                
  border-spacing:5px;
  margin-right: auto;
  margin-left: auto;
}
.div-row {
  display: table-row;
  height: 50px;
  width:auto;
  clear:both;
}

.div-cell {
  display: table-cell;  
  width: 50px;  
  height: 50px;       
}

.title {
  font-family: "distant_galaxyregular";
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  color:  #E2C58B;
  font-weight: normal;
}
.even1 {
  background: url("../images/r2d2.png") no-repeat !important;
}
.even2 {
  background: url("../images/c3po.png") no-repeat !important;
}
.even3 {
  background: url("../images/fluff.png") no-repeat !important;
}
.even4 {
  background: url("../images/jedi.png") no-repeat !important;
}
.even5 {
  background: url("../images/leia.png") no-repeat !important;
}
.odd1 {
  background: url("../images/vader.png") no-repeat !important;
}
.odd2 {
  background: url("../images/badguy.png") no-repeat !important;
}
.odd3 {
  background: url("../images/cake.png") no-repeat !important;
}
.odd4 {
  background: url("../images/green.png") no-repeat !important;
}
.odd5 {
  background: url("../images/trooper.png") no-repeat !important;
}
 